


body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("./img/photo.jpg");
    
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin-right: 40px;
    
   
}

header,
.form1 {
    min-height: 20vh;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    margin-left: 20px;
   
}

h1{
    margin: auto;
    color: #d88771;
    font-weight: bolder;
}

.form1 input, .form1 button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    
   
}

.form1 button {
   
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.form1 button:hover {
    background: #d88771;
    color: white; 
}

.todo-continer{
    display: flex;
    justify-content: left;
    align-items: center ;
  
    width: 50%;

}

.todo-list{
    min-width: 50%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
 background: #ff6f47;
 color: white;
 border: none;
 padding: 1rem;
 cursor: pointer;
 font-size: 0.8rem;
}

.complete-btn{
    background: green;
}

.todo-item{
    padding: 0rem 0.5rem;
}


.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
 

}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
 
}

select{
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    border: none;
  
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    
}

.select:hover::after{
    background: white;
    color: #ff6f47;
}



/* begin form */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');






.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
    
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}



.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}



.section2{

    width: 40%;
    margin: auto;
    flex: 2;
    margin-left: 50%;
    margin-top: -20%;
    background-color: #ff606e;
}



.form-body{

    position: fixed;
    left: 800px;
    bottom: 10px;

}

.bg-yellow {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;

}






